@if (note(); as currentNote) {
  <h2>{{ currentNote.id }}</h2>

  @if (currentNote.focus.length > 0) {
    <h3>Focus</h3>
    <ul>
      @for (focus of currentNote.focus; track focus) {
        <li>{{ focus }}</li>
      }
    </ul>
  }

  @if (currentNote.tasks.length > 0) {
    <h3>Tasks</h3>
    @for (task of currentNote.tasks; track task.text) {
      <div>
        <input type="checkbox" [checked]="task.status === TaskStatus.COMPLETED" />
        <span>
          {{ task.text }}
          @for (tag of task.tags; track tag) {
            <span class="tag"> #{{ tag }}</span>
          }
        </span>
      </div>
    }
  }

  @if (currentNote.notes.length > 0) {
    <h3>Notes</h3>
    @for (note of currentNote.notes; track note) {
      <p>{{ note }}</p>
    }
  }
}
